<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dipartimento di Urologia - Accesso Riservato</title>
    <!-- Bootstrap CSS -->

    <!-- Caricamento Bootstrap tramite Django -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Benvenuti nel Dipartimento di Urologia</h1>
                <p class="alert alert-warning text-center">Attenzione: l'accesso a questa area è riservato
                    esclusivamente agli aventi diritto.</p>
                <p class="text-center">Se hai bisogno di assistenza, ti preghiamo di contattare il tuo amministratore.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer (opzionale) -->
    <footer class="text-center mt-5 mb-3">
        <p>Made with love in Bologna</p>
    </footer>
</body>
</html>